@import '../../variables';

.ProjectForm-layer {
  background-color: rgba(0,0,0,.45);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.ProjectForm {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 450px;
  padding: 2em;
  background-color: $white;

  form {
    display: flex;
    flex-direction: column;
  }

}

.ProjectForm-title {
  text-align: center;
  margin-bottom: 1em;
}
