@import '../../variables';

.Header {
  padding: 1em;
  background-color: $colorBlackCoral;
}

.Header-links {
  display: flex;
  justify-content: flex-end;
}

.Header-link {
  &--brand {
    margin-right: auto;
  }
  
  span,
  a {
    color: $white;
  }

  svg {
    margin-left: 1em;
    cursor: pointer;

    &:hover path {
      fill: $colorGainsboro;
    }
  }

  path {
    fill: $white;
  }
}
