// https://coolors.co/dcdcdd-c5c3c6-46494c-4c5c68-1985a1

$white: #FFFFFF;
$colorGainsboro: #DCDCDD;
$colorSilverSand: #C5C3C6;
$colorDavyGrey: #46494C;
$colorBlackCoral: #4C5C68;
$colorBlue: #1985A1;
$redOrange: #BF0603;
