@import './variables';

* {
  margin: 0;
  padding: 0;
  color: $colorDavyGrey;  
}

ul {
  list-style: none;
}

input,
button,
a {
  font-size: 15px;
}

input,
button {
  outline: 0;
}

.box {
  box-shadow: 5px 5px 12px $colorGainsboro, -5px -5px 12px $white;
  border-radius: .5em;
}
